.MainContentWrapper {
  height: 100%;
  position: relative;
  text-align: center;
}

.MainWrapper {
   display: inline-flex;
   flex-direction: column;
   align-self: center;
   position: relative;
   width:  600px;
   top: 110px;
   min-height: 760px
}